<!DOCTYPE html>
<html lang="ptbr" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title></title>
  </head>
  <body>
  <h1 class="title text-center">Contatos</h1>
  {% block content %}
    <!-- <table class="table table-striped">
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table> -->

{% if contacts | length > 0 %}
<table class="table">

{% for contact in contacts %}
<tbody>
  <tr>
    <td>{{ contact.name }}</td>
    <td>{{ contact.email }}</td>
    <!-- <td>{{ contact.phone }}</td> -->
    <td><a href="tel:'{{ contact.phone }}'"><img src="/img_322946.png" height="32px" width="auto" /></a></td>
    <!-- <td><button class="btn btn-sm btn-danger btn-remove" id="{{ student._id }}">Excluir</button></td>
    <td><button class="btn btn-sm btn-warning btn-update" id="{{ student._id }}">Editar</button></td> -->
  </tr>
</tbody>
  {% endfor %}
</table>
{% else %}
<div class="jumbotron">

<h5 class="text-center">Sem contatos cadastrados</h5>
</div>

{% endif %}

{% endblock %}
    <div class="button">
      <a href="/" class="btn btn-primary btn-lg mt-5">Incluir</a>
    </div>
  </body>
</html>
