<!DOCTYPE html>
<html lang="ptbr" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title></title>
  </head>
  <body>
  <h1 class="titulo text-center">Contatos</h1>
  {% block content %}
{% if contacts | length > 0 %}
<table class="table">

{% for contact in contacts %}
<tbody>
  <tr>
    <td onclick="openNavright('{{ contact._id }}')" id="namer" ><a href="#" rel="modal:close">{{ contact.name }}</a></td>
    <td><a href="mailto:'{{ contact.email }}'">{{ contact.email }}</a></td>
    <!-- <td>{{ contact.phone }}</td> -->
    <td><a href="tel:'{{ contact.phone }}'"><img src="/img_322946.png" height="32px" width="auto" /></a></td>
    <!-- <td><button class="btn btn-sm btn-danger btn-remove" id="{{ student._id }}">Excluir</button></td>
    <td><button class="btn btn-sm btn-warning btn-update" id="{{ student._id }}">Editar</button></td> -->
  </tr>
</tbody>
  {% endfor %}
</table>
{% else %}
<div class="jumbotron">

<h5 class="text-center">Sem contatos cadastrados</h5>
</div>

{% endif %}

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <form id="insert" onsubmit="send(event)">
      <h1 class="title text-center">Novo</h1>
      <div class="input">
          <input type="text" id="name" name="name" placeholder="Nome" class="form-control form-control-lg" value="">
          <br>
          <input type="text" id="email" name="email" placeholder="Email" class="form-control form-control-lg" value="">
          <br>
          <input type="text" id="phone" name="phone" placeholder="Telefone" class="form-control form-control-lg" value="">
          <br>
      
      <div class="button" id="addnew">
        <button type="submit" name="button" class="btn btn-success btn-lg mt-5" disabled="disabled">Adicionar novo</button>
      </div>
      </div>
      </form>
    </div>

    <div id="mySidenavright" class="sidenavright">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNavright()">&times;</a>
      <form id="update" onsubmit="send(event)">
      <h1 class="title text-center">Dados</h1>

      <div class="input">
          <input type="hidden" id="idright" name="idright">
          <input type="text" id="nameright" name="name" class="form-control form-control-lg">
          <br>
          <input type="text" id="emailright" name="email" class="form-control form-control-lg">
          <br>
          <input type="text" id="phoneright" name="phone" class="form-control form-control-lg">
          <br>
      

      <div class="buttonright">
        <div>
        <button type="submit" name="button" onclick="editContact()" class="btn btn-warning btn-md mt-2 mr-1 float-left btn-update">Editar</button>
      </div>
      <div>
        <button type="submit" name="button" onclick="removeContact()" class="btn btn-danger btn-md mt-2 ml-1 float-left btn-remove">Excluir</button>
      </div> 
    </div>
    </div>
      </form>
    </div>
    <!-- Use any element to open the sidenav -->
    <div class="button">
      <a href="#" class="btn btn-primary btn-lg mt-5 btn-include" onclick="openNav()">Incluir</a>
    </div>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
</div>

{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script src="/js/index.js"></script>
  </body>
</html>
