<!DOCTYPE html>
<html lang="ptbr" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title></title>
  </head>
  <body>
    <form onsubmit="send(event)">
    <h1 class="title text-center">Novo</h1>
    <div class="input">
        <input type="text" id="name" name="name" placeholder="Nome" class="form-control form-control-lg" value="">
        <br>
        <input type="text" id="email" name="email" placeholder="Email" class="form-control form-control-lg" value="">
        <br>
        <input type="text" id="phone" name="phone" placeholder="Telefone" class="form-control form-control-lg" value="">
        <br>
    </div>
    <div class="button" id="addnew">
      <button type="submit" name="button" class="btn btn-success btn-lg mt-5" disabled="disabled">Adicionar novo</button>
    </div>
    </form>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</html>
