<!DOCTYPE html>
<html lang="ptbr" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title></title>
  </head>
  <body>
    <label for="" class="title"><h1>Novo</h1></label>
    <div class="input">
        <input type="text" name="" placeholder="Nome" class="form-control form-control-lg" value="">
        <br>
        <input type="email" name="" placeholder="Email" class="form-control form-control-lg" value="">
        <br>
        <input type="text" name="" placeholder="Telefone" class="form-control form-control-lg" value="">
        <br>
    </div>
    <div class="button">
      <a href="/contacts" class="btn btn-primary btn-lg mt-5">Adicionar novo</a>
    </div>
  </body>
</html>
