* {
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  border-radius: 20px;
  padding-top: 60px;
  padding-left: 25px;
}
.btn-group-lg>.btn, .btn-lg {
  border-radius: 30px;
  width: 250px;
}
.button button {
  width: 100%;
  height: 50px;
  border-radius: 100px;
}

.form-control {
  height: 50px;
}

.input {
  padding-top: 130px;
}

.title {
padding-top: 20px;
}

.table td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:100px;
  display: inline-block;
}
